In [195]:
import requests
import json
import pandas as pd 
from datetime import datetime
from importlib import reload 
import gzip 
import connection


connection = reload(connection)

<connection object at 0x784c27142ac0; dsn: 'user=admin password=xxx dbname=dev host=coinbase-cluster.ctpfzvbnyqdb.us-east-1.redshift.amazonaws.com port=5439', closed: 0>
Connection to Postgres Server: coinbase-cluster.ctpfzvbnyqdb.us-east-1.redshift.amazonaws.com is successful on Port: 5439. Database is dev
Connection to Postgres Server: 172.17.0.2 is successful on Port: 5432. Database is exchange_rate

In [136]:
data = {
    'disclaimer': "https://openexchangerates.org/terms/",
    'license': "https://openexchangerates.org/license/",
    'timestamp': 1449877801,
    'base': "USD",
    'rates': {
        'AED': 3.672538,
        'AFN': 66.809999,
        'ALL': 125.716501,
        'AMD': 484.902502,
        'ANG': 1.788575,
        'AOA': 135.295998,
        'ARS': 9.750101,
        'AUD': 1.390866
       
    }
}

In [138]:
# data = json.loads(data)
# data
df = pd.DataFrame(data)
df

,disclaimer,license,timestamp,base,rates
AED,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,3.672538
AFN,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,66.809999
ALL,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,125.716501
AMD,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,484.902502
ANG,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,1.788575
AOA,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,135.295998
ARS,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,9.750101
AUD,https://openexchangerates.org/terms/,https://openexchangerates.org/license/,1449877801,USD,1.390866

In [2]:
# create connection object postgres db 
local_con =connection.local_pgcon
local_cur = connection.local_pgcur

print(local_con) 
print("\n")
print(local_cur)

<connection object at 0x784c3cac2ac0; dsn: 'user=postgres password=xxx dbname=coinbase10 host=172.17.0.2 port=5432', closed: 0>


<built-in method cursor of psycopg2.extensions.connection object at 0x784c3cac2ac0>

In [179]:
# create s3 object
s3 = connection.s3_bucket

# create Redshift connection and cursor
cur_redshift = connection.redshift_cur
conn_redshift = connection.redshift_con
# print(cur_redshift)
print(cur_redshift)

#create local postgres connection and cursor
cur_pg = connection.local_pgcur
conn_pg = connection.local_pgcon

<built-in method cursor of psycopg2.extensions.connection object at 0x784c33500f40>

In [4]:
# delete this block
# conn_redshift = connection.conn_redshift
# cur_redshift = connection.cur_redshift
# print(cur_redshift)

In [60]:
# open exchange
url2 ='https://api.binance.com/api/v3/ticker/price'

url = 'https://api.coinbase.com/v2/currencies'
# connection.api_url 
response = requests.get(connection.api_url)

In [168]:
api_data = response.text
api_data

'{\n  "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",\n  "license": "https://openexchangerates.org/license",\n  "timestamp": 1716120007,\n  "base": "USD",\n  "rates": {\n    "AED": 3.673,\n    "AFN": 71.479051,\n    "ALL": 92.148131,\n    "AMD": 386.030742,\n    "ANG": 1.792758,\n    "AOA": 849,\n    "ARS": 881.603415,\n    "AUD": 1.492315,\n    "AWG": 1.8025,\n    "AZN": 1.7,\n    "BAM": 1.795053,\n    "BBD": 2,\n    "BDT": 116.488448,\n    "BGN": 1.79898,\n    "BHD": 0.375109,\n    "BIF": 2853.833157,\n    "BMD": 1,\n    "BND": 1.340645,\n    "BOB": 6.87348,\n    "BRL": 5.1046,\n    "BSD": 1,\n    "BTC": 0.000014849738,\n    "BTN": 82.888175,\n    "BWP": 13.478959,\n    "BYN": 3.254922,\n    "BZD": 2.00514,\n    "CAD": 1.36175,\n    "CDF": 2775.346609,\n    "CHF": 0.911919,\n    "CLF": 0.032417,\n    "CLP": 894.49773,\n    "CNH": 7.2317,\n    "CNY": 7.2232,\n    "COP": 3807.1681,\n    "CRC": 509.113839,\n    "CUC": 1,\n    "CUP": 25.75,\n    "CVE": 101.202307,\n    "CZK": 22.718,\n    "DJF": 177.137312,\n    "DKK": 6.8646,\n    "DOP": 58.271764,\n    "DZD": 134.641,\n    "EGP": 46.817497,\n    "ERN": 15,\n    "ETB": 57.138454,\n    "EUR": 0.917996,\n    "FJD": 2.2282,\n    "FKP": 0.789609,\n    "GBP": 0.789609,\n    "GEL": 2.75,\n    "GGP": 0.789609,\n    "GHS": 14.225139,\n    "GIP": 0.789609,\n    "GMD": 67.9,\n    "GNF": 8550.158767,\n    "GTQ": 7.728879,\n    "GYD": 208.122561,\n    "HKD": 7.80265,\n    "HNL": 24.630351,\n    "HRK": 6.93166,\n    "HTG": 132.302326,\n    "HUF": 355.834848,\n    "IDR": 15964.5,\n    "ILS": 3.692993,\n    "IMP": 0.789609,\n    "INR": 83.30055,\n    "IQD": 1303.106358,\n    "IRR": 42062.5,\n    "ISK": 137.827556,\n    "JEP": 0.789609,\n    "JMD": 155.238398,\n    "JOD": 0.7089,\n    "JPY": 155.675,\n    "KES": 129.815044,\n    "KGS": 88.2093,\n    "KHR": 4056.727037,\n    "KMF": 452.72518,\n    "KPW": 900,\n    "KRW": 1354.39,\n    "KWD": 0.305447,\n    "KYD": 0.829058,\n    "KZT": 442.311046,\n    "LAK": 21233.2653,\n    "LBP": 89083.661682,\n    "LKR": 298.141268,\n    "LRD": 193.499967,\n    "LSL": 18.199716,\n    "LYD": 4.808316,\n    "MAD": 9.904364,\n    "MDL": 17.601808,\n    "MGA": 4408.264782,\n    "MKD": 56.550873,\n    "MMK": 2089.030434,\n    "MNT": 3450,\n    "MOP": 7.994585,\n    "MRU": 39.39241,\n    "MUR": 45.86,\n    "MVR": 15.46,\n    "MWK": 1724.752058,\n    "MXN": 16.6086,\n    "MYR": 4.687501,\n    "MZN": 63.899991,\n    "NAD": 18.199716,\n    "NGN": 1470,\n    "NIO": 36.620624,\n    "NOK": 10.74065,\n    "NPR": 132.620795,\n    "NZD": 1.630125,\n    "OMR": 0.38414,\n    "PAB": 1,\n    "PEN": 3.714928,\n    "PGK": 3.863063,\n    "PHP": 57.849995,\n    "PKR": 277.089416,\n    "PLN": 3.91811,\n    "PYG": 7453.506874,\n    "QAR": 3.62792,\n    "RON": 4.5762,\n    "RSD": 107.504295,\n    "RUB": 90.991811,\n    "RWF": 1287.870325,\n    "SAR": 3.750049,\n    "SBD": 8.475946,\n    "SCR": 13.791015,\n    "SDG": 601,\n    "SEK": 10.716985,\n    "SGD": 1.346,\n    "SHP": 0.789609,\n    "SLL": 20969.5,\n    "SOS": 568.491005,\n    "SRD": 32.183,\n    "SSP": 130.26,\n    "STD": 22281.8,\n    "STN": 22.486348,\n    "SVC": 8.704511,\n    "SYP": 2512.53,\n    "SZL": 18.194667,\n    "THB": 36.101143,\n    "TJS": 10.773255,\n    "TMT": 3.5,\n    "TND": 3.115,\n    "TOP": 2.358712,\n    "TRY": 32.243399,\n    "TTD": 6.755083,\n    "TWD": 32.1798,\n    "TZS": 2581.42974,\n    "UAH": 39.251434,\n    "UGX": 3750.184241,\n    "USD": 1,\n    "UYU": 38.796116,\n    "UZS": 12653.216969,\n    "VES": 36.580744,\n    "VND": 25448.530759,\n    "VUV": 118.722,\n    "WST": 2.8,\n    "XAF": 602.165588,\n    "XAG": 0.03181778,\n    "XAU": 0.00041426,\n    "XCD": 2.70255,\n    "XDR": 0.753155,\n    "XOF": 602.165588,\n    "XPD": 0.00099069,\n    "XPF": 109.546005,\n    "XPT": 0.00092176,\n    "YER": 249.899769,\n    "ZAR": 18.32926,\n    "ZMW": 25.391215,\n    "ZWL": 322\n  }\n}'

In [169]:
api_data = f''' {api_data} '''
api_data
api_data = json.loads(api_data)
# api_data
df = pd.DataFrame(api_data)

# extract base and timestamp column data
base = api_data['base']
timestamp = api_data['timestamp']

# Get date and time from timestamp 
date = datetime.fromtimestamp(timestamp)
# format date to YYYYMMDD to be used as a column in the dataframe
year = date.strftime('%Y%m%d')
# format time to HMS
time = date.strftime('%H%M%S')
# this will be part of the csv filename to ensure uniqueness of filename 
rate_date = year + '_'+ time

df = pd.DataFrame(api_data['rates'].items(), columns=['Currency', 'Rate'])

# Add base, timestamp, and date columns
df['Base'] = base
df['Timestamp'] = timestamp 
df['Date'] = year

In [212]:
rate_date = year + '_'+ time

In [166]:
api_data

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms',
 'license': 'https://openexchangerates.org/license',
 'timestamp': 1716120007,
 'base': 'USD',
 'rates': {'AED': 3.673,
  'AFN': 71.479051,
  'ALL': 92.148131,
  'AMD': 386.030742,
  'ANG': 1.792758,
  'AOA': 849,
  'ARS': 881.603415,
  'AUD': 1.492315,
  'AWG': 1.8025,
  'AZN': 1.7,
  'BAM': 1.795053,
  'BBD': 2,
  'BDT': 116.488448,
  'BGN': 1.79898,
  'BHD': 0.375109,
  'BIF': 2853.833157,
  'BMD': 1,
  'BND': 1.340645,
  'BOB': 6.87348,
  'BRL': 5.1046,
  'BSD': 1,
  'BTC': 1.4849738e-05,
  'BTN': 82.888175,
  'BWP': 13.478959,
  'BYN': 3.254922,
  'BZD': 2.00514,
  'CAD': 1.36175,
  'CDF': 2775.346609,
  'CHF': 0.911919,
  'CLF': 0.032417,
  'CLP': 894.49773,
  'CNH': 7.2317,
  'CNY': 7.2232,
  'COP': 3807.1681,
  'CRC': 509.113839,
  'CUC': 1,
  'CUP': 25.75,
  'CVE': 101.202307,
  'CZK': 22.718,
  'DJF': 177.137312,
  'DKK': 6.8646,
  'DOP': 58.271764,
  'DZD': 134.641,
  'EGP': 46.817497,
  'ERN': 15,
  'ETB': 57.138454,
  'EUR': 0.917996,
  'FJD': 2.2282,
  'FKP': 0.789609,
  'GBP': 0.789609,
  'GEL': 2.75,
  'GGP': 0.789609,
  'GHS': 14.225139,
  'GIP': 0.789609,
  'GMD': 67.9,
  'GNF': 8550.158767,
  'GTQ': 7.728879,
  'GYD': 208.122561,
  'HKD': 7.80265,
  'HNL': 24.630351,
  'HRK': 6.93166,
  'HTG': 132.302326,
  'HUF': 355.834848,
  'IDR': 15964.5,
  'ILS': 3.692993,
  'IMP': 0.789609,
  'INR': 83.30055,
  'IQD': 1303.106358,
  'IRR': 42062.5,
  'ISK': 137.827556,
  'JEP': 0.789609,
  'JMD': 155.238398,
  'JOD': 0.7089,
  'JPY': 155.675,
  'KES': 129.815044,
  'KGS': 88.2093,
  'KHR': 4056.727037,
  'KMF': 452.72518,
  'KPW': 900,
  'KRW': 1354.39,
  'KWD': 0.305447,
  'KYD': 0.829058,
  'KZT': 442.311046,
  'LAK': 21233.2653,
  'LBP': 89083.661682,
  'LKR': 298.141268,
  'LRD': 193.499967,
  'LSL': 18.199716,
  'LYD': 4.808316,
  'MAD': 9.904364,
  'MDL': 17.601808,
  'MGA': 4408.264782,
  'MKD': 56.550873,
  'MMK': 2089.030434,
  'MNT': 3450,
  'MOP': 7.994585,
  'MRU': 39.39241,
  'MUR': 45.86,
  'MVR': 15.46,
  'MWK': 1724.752058,
  'MXN': 16.6086,
  'MYR': 4.687501,
  'MZN': 63.899991,
  'NAD': 18.199716,
  'NGN': 1470,
  'NIO': 36.620624,
  'NOK': 10.74065,
  'NPR': 132.620795,
  'NZD': 1.630125,
  'OMR': 0.38414,
  'PAB': 1,
  'PEN': 3.714928,
  'PGK': 3.863063,
  'PHP': 57.849995,
  'PKR': 277.089416,
  'PLN': 3.91811,
  'PYG': 7453.506874,
  'QAR': 3.62792,
  'RON': 4.5762,
  'RSD': 107.504295,
  'RUB': 90.991811,
  'RWF': 1287.870325,
  'SAR': 3.750049,
  'SBD': 8.475946,
  'SCR': 13.791015,
  'SDG': 601,
  'SEK': 10.716985,
  'SGD': 1.346,
  'SHP': 0.789609,
  'SLL': 20969.5,
  'SOS': 568.491005,
  'SRD': 32.183,
  'SSP': 130.26,
  'STD': 22281.8,
  'STN': 22.486348,
  'SVC': 8.704511,
  'SYP': 2512.53,
  'SZL': 18.194667,
  'THB': 36.101143,
  'TJS': 10.773255,
  'TMT': 3.5,
  'TND': 3.115,
  'TOP': 2.358712,
  'TRY': 32.243399,
  'TTD': 6.755083,
  'TWD': 32.1798,
  'TZS': 2581.42974,
  'UAH': 39.251434,
  'UGX': 3750.184241,
  'USD': 1,
  'UYU': 38.796116,
  'UZS': 12653.216969,
  'VES': 36.580744,
  'VND': 25448.530759,
  'VUV': 118.722,
  'WST': 2.8,
  'XAF': 602.165588,
  'XAG': 0.03181778,
  'XAU': 0.00041426,
  'XCD': 2.70255,
  'XDR': 0.753155,
  'XOF': 602.165588,
  'XPD': 0.00099069,
  'XPF': 109.546005,
  'XPT': 0.00092176,
  'YER': 249.899769,
  'ZAR': 18.32926,
  'ZMW': 25.391215,
  'ZWL': 322}}

In [213]:
csv_file_path = f'exchange_rate_{rate_date}.csv' 
# date = datetime.utcfromtimestamp(timestamp)
# date
df.to_csv(csv_file_path, index=False)

In [49]:
# Check if the request was successful (status code 200)
if response.status_code == 200:

    api_data = response.text
   
    api_data = json.loads(api_data)
        # use this code if the result of the parsed json is in the form {data: {all the response data}}
    # api_data = api_data.get('data', [])

    # Read the JSON data into a Pandas DataFrame
    df = pd.DataFrame(api_data)
    
    # Specify the file path where you want to save the CSV file
    csv_file_path = 'saturday_rate.csv'
    
    # Write the DataFrame to a CSV file
    df.to_csv(csv_file_path, index=False)
    
    print("CSV file saved successfully:", csv_file_path)
else:
    print("Failed to retrieve data. Status code:", response.status_code)

CSV file saved successfully: saturday_rate.csv

In [214]:
# creating a filename variable for compressed file to be uploaded to S3
file_name = csv_file_path + '.gz'
print(file_name)

exchange_rate_20240519_120007.csv.gz

In [153]:
df.to_csv(file_name, index=False, compression='gzip')

In [215]:
# df to zip

df.to_csv(file_name, index=False, compression='gzip')

compressed_csv = file_name

In [216]:
with open(compressed_csv, 'rb') as file:
    # Upload the file object to S3 bucket
    s3.upload_fileobj(file, 'emil-coinbase-bucket', compressed_csv)

In [217]:
# Check if the file has been successfully uploaded
if s3.head_object(Bucket='emil-coinbase-bucket', Key=compressed_csv):
    print("CSV file uploaded to S3 bucket successfully")
else:
    print("Upload not successful")

CSV file uploaded to S3 bucket successfully

In [197]:
try:
    table_name = 'exchange_rates'
    rates_table = f'''CREATE TABLE IF NOT EXISTS {table_name} (
                        currency VARCHAR(3),
                        rate NUMERIC(16, 8),
                        base VARCHAR(3),
                        timestamp VARCHAR(16),
                        date VARCHAR(8)
                    )'''
    connection.cur_pg.execute(rates_table)
    connection.conn_pg.commit()
except conn_pg.Error as e:
    connection.conn_pg.rollback()
    print("Error occurred:", e)

In [196]:
# INSERT DATA TO LOCAL DB
try:
    # size of each batch
    batch_size = 1000

    # Insert DataFrame into database in batches
    for i in range(0, len(df), batch_size):
        batch_df = df.iloc[i:i + batch_size]
        values = [tuple(row) for row in batch_df.values]

        placeholders = ','.join(['%s'] * len(df.columns))
        try:
            insert_query = f"INSERT INTO {table_name} (currency, rate, base, timestamp, date) VALUES ({placeholders})"
            connection.cur_pg.executemany(insert_query, values)
            connection.conn_pg.commit()

            print(insert_query)
        except Exception as e:
            # Rollback the transaction
            connection.conn_pg.rollback()

            # If the insert fails due to a unique constraint violation, perform an update instead
            if 'duplicate key' in str(e):
                for value in values:
                    update_query = "UPDATE currency_rates SET Name = %s, min_size = %s WHERE ID = %s"
                    connection.cur_pg.execute(update_query, (value[1], value[2], value[0]))
                    connection.conn_pg.commit()  # Commit each update
            else:
                raise e

except Exception as e:
    print("An error occurred during batch data insertion:", e)
    connection.conn_pg.rollback()  # Rollback the transaction in case of an error

INSERT INTO exchange_rates (currency, rate, base, timestamp, date) VALUES (%s,%s,%s,%s,%s)

In [206]:
# upsert on conflict
# INSERT DATA TO LOCAL DB
try:
    # size of each batch
    batch_size = 200

    # Insert DataFrame into database in batches
    for i in range(0, len(df), batch_size):
        batch_df = df.iloc[i:i + batch_size]
        values = [tuple(row) for row in batch_df.values]

        placeholders = ','.join(['%s'] * len(df.columns))
        try:
            insert_query = f'''INSERT INTO {table_name} (currency, rate, base, timestamp, date) 
                   VALUES ({placeholders})'''
                   

            connection.cur_pg.executemany(insert_query, values)
            connection.conn_pg.commit()

            print(insert_query)
        except Exception as e:
            # Rollback the transaction
            connection.conn_pg.rollback()


except Exception as e:
    print("An error occurred during batch data insertion:", e)
    connection.conn_pg.rollback()  # Rollback the transaction in case of an error

INSERT INTO exchange_rates (currency, rate, base, timestamp, date)
                   VALUES (%s,%s,%s,%s,%s)

In [139]:
# INSERT INTO users (id, rate)
# VALUES (1, 0)
# ON CONFLICT (id) DO UPDATE
# SET min_value = %s;

In [136]:
# Upload data to local postgres db 
    # create table
table_name = 'currency_rates'
rates_table = f'''CREATE TABLE IF NOT EXISTS {table_name} (ID VARCHAR(3), Name VARCHAR(65), min_size numeric(10, 8) ) '''
cur_pg.execute(rates_table)
conn_pg.commit()
    # copy csv


# insert_from_local = f"""COPY currency_rates
# FROM '{csv_file_path}'
# DELIMITER ','
# CSV
# HEADER;
#  """

insert_from_local= f"""copy currency_rates FROM '{csv_file_path}' CSV HEADER DELIMITER ','; """


# insert_from_local = f"""COPY currency_rates
# FROM '{csv_file_path}'
# IGNOREHEADER 1
# FORMAT AS csv
# DELIMITER ','; """

cur_pg.execute(insert_from_local)
conn_pg.commit()

conn_pg.close()

UndefinedFile: could not open file "./scratch_csv.csv" for reading: No such file or directory
HINT:  COPY FROM instructs the PostgreSQL server process to read a file. You may want a client-side facility such as psql's \copy.

In [122]:
#  delete this block
connection.cur_redshift.execute('ROLLBACK')

In [207]:
    # create table REDSHIFT

table_name = 'exchange_rates'
try:
    
 rates_table = f'''CREATE TABLE IF NOT EXISTS {table_name} (
                        currency VARCHAR(3),
                        rate NUMERIC(16, 8),
                        base VARCHAR(3),
                        timestamp VARCHAR(16),
                        date VARCHAR(8)
                    )'''
    
  
 connection.cur_redshift.execute(rates_table)
 connection.conn_redshift.commit()
 print("Table created successfully.")

except Exception as e:
 connection.conn_redshift.rollback()
 print(f"Error creating table: {e}")

Table created successfully.

In [223]:
# upload data to Redshift form s3 bucket
   

aws_access_key_id = connection.aws_access_key_id
aws_secret_access_key = connection.aws_secret_access_key

insert_from_s3 = f"""COPY {table_name}
FROM 's3://emil-coinbase-bucket/{compressed_csv}'
CREDENTIALS 'aws_access_key_id={aws_access_key_id};aws_secret_access_key={aws_secret_access_key}'
IGNOREHEADER 1
FORMAT AS csv
gzip
DELIMITER ','; """


connection.cur_redshift.execute(insert_from_s3)
connection.conn_redshift.commit()
print(f"Copy to Redshift: {table_name} was successful")

conn_redshift.close()

In [63]:
conn_redshift = connection.conn_redshift
cur_redshift = connection.cur_redshift
print(conn_redshift)

<connection object at 0x000002543DE7EA68; dsn: 'user=admin password=xxx dbname=dev host=coinbase-cluster.ctpfzvbnyqdb.us-east-1.redshift.amazonaws.com port=5439', closed: 0>

In [221]:
connection.cur_redshift.execute('ROLLBACK')

In [42]:


)

None